Thank you for contacting our support team. Your ticket has been received and assigned the following ID: {{ ticket.ticket_id }}

We have received your message regarding:
Subject: {{ ticket.subject }}

Our team will review your request and respond as soon as possible. You can reply directly to this email to add more information to your ticket.

To ensure proper tracking of your request, please keep the email thread intact when replying. All responses will be automatically added to your ticket.

Ticket Details:
- Ticket ID: {{ ticket.ticket_id }}
- Status: {{ ticket.status }}
- Created: {{ ticket.created_at }}

Best regards,
Support Team
